<div style="margin-top: 200px">

    <div class="container">
        <form method="post">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center">
                    <h2>E-mail has been sent.</h2>
                </div>
            </div>
        </form>
    </div>
</div>