@model Shop.Models.AccuWeathers.AccuWeatherViewModel

<div class="container">
    <h2>
        Forecast for the selected city
    </h2>
    <h2>
        @Html.DisplayFor(model => model.LocalizedName)
    </h2>
    <hr />
    <div class="form-group row">
        <label asp-for="Maximum" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Maximum) °С
    </div>
    <div class="form-group row">
        <label asp-for="Minimum" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Minimum) °С
    </div>
    <div class="form-group row">
        <label asp-for="Link" class="col-sm-2 col-form-label"></label>
        @Html.DisplayFor(model => model.Link)
    </div>
    <div><a asp-action="index" class="btn btn-primary">Back</a></div>
</div>
