@model Shop.Models.AccuWeathers.SearchCityViewModel

<h1>Search City</h1>
<div class="container">
    <form method="post">
        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <h2>Search the forecast in a city</h2>
                <label asp-for="LocalizedName" style="font-family: Arial"></label>
                <input asp-for="LocalizedName" class="form-control" style="background-color:bisque" />
                <span asp-validation-for="LocalizedName" class="text-danger"></span>
            </div>
        </div>
        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <button asp-controller="accuWeathers" asp-action="searchCity" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
